.image-thumbnail {
  width: 360px;
  height: 240px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px;
  padding-bottom: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-card {
  border: 5px solid #5c5959;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 15px;
}

.image-details {
  background-color: #fff;
}
.details-list {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #5c5959;
  border-radius: 15px;
  gap: 30px;
}

.details-count {
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
}

.details-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
}
input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.btn-search {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  background: #466cf5;
  border: none;
  cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #6c8cff;
}

form {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
}

input:focus {
  outline: none;
  border-color: #4e75ff;
  box-shadow: 0 0 5px #4e75ff;
}
